header,
section {
    overflow-x: hidden;
}

:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #097967, #00ffd6);
    --light-gray: rgba(255, 255, 255, 0.877);
}


header a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: #FFFDD0;
}

header a:hover {
    color: black;
}

.navbar-nav li a {
    font-family: var(--Sniglet-font);
    font-size: 0.9em;
    color: #FFFDD0;
}

.login-btn button {
    background-color: #FFFDD0;
    border-radius: 30px;
    font-weight: bold;
}

.login-btn a {
    color: black;
}

header {
    background: #dd2476;
    background: var(--bggradient);
}


header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    padding-left: 8rem;
}

header .nav-link:hover {
    color: black;
}


header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Rubik);
    color: #FFFDD0;
}

header .row .col-md-5 img {
    width: 120%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin
}

header .container .col-md-7 button {
    background-color: #FFFDD0;
    border-radius: 30px;
    font-weight: bold;
}